{% extends 'main.html' %}

{% if request.user.is_authenticated %}
    {% block content %}

        <div class="home-container m-5">

            <div>
                {% include 'base/topics_component.html' %}
            </div>

            <div>
                <h5>{{ room_count }} rooms available</h5>
                <a href="{% url 'create-room' %}">Create Room</a>
                {% include 'base/feed_component.html' %}
            </div>

            <div>
                {% include 'base/activity_component.html' %}
            </div>
        </div>

    {% endblock %}
{% else %}
    <h1 class="display-6">Welcome!</h1>
    <h2 class="display-4">Login to share your photos.</h2>
{% endif %}